.login-sub-message {
    height: calc(77vh - 64px);
    position: relative;
    overflow-y: scroll;
    
    background-color: white;
}

.sub-message {
    position: relative;
}

.sub-text {
    height: 64px;
    border-top: 1px solid #ddd;
}

.input-bar {
    width: calc(100% - 100px);
    height: 40px;

    margin: 8px 8px 8px 0;
    font-size: 100%;

    border: none;
    outline: none;
}

.input-send {
    width: 64px;
    height: 40px;
    font-size: 100%;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: white;
    color: black;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.input-send:hover {
    color: dodgerblue;
}