.login-header {
    width: 100%;
    height: 15vh;

    position: relative;
    top: 0;
    left: 0;

    background-color: #1E1E1E;
    z-index: -2;
}

.login-welcome {
    color: #383838;
    font-size: 350%;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

    padding-top: 82px;
    z-index: 1;
}

.login-body {
    width: 100%;
    height: 72px;
    max-height: 10vh;

    position: relative;
    margin: auto;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.login-button {
    width: 200px;
    height: 44px;
    margin: 14px auto;
    font-size: 120%;
   
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-status {
    border-radius: 10px;
    border-width: 0;
    border-color: #008000;
    background-color: #449D44;
    color: white;
    outline: none;
}

.login-status:hover {
    background-color: rgb(16, 97, 16);
}

.logout-status {
    border-radius: 10px;
    border-width: 0;
    border-color: rgb(216, 18, 11);
    background-color: #C9302C;
    color: white;
    outline: none;
}

.logout-status:hover {
    background-color: rgb(235, 16, 8);
}

.login-avatar {
    width: 180px;
    height: auto;

    position: absolute;
    top: 10%;
    right: 10%;
    z-index: -1;

    border-radius: 50%;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}


.login-main-content {
    width: 100%;
    height: calc(85vh - 73px);
    background-color: white;
}

.login-user-list {
    width: 310px;
    height: calc(85vh - 74px);

    border-right: 1px solid #ddd;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
}

.login-user-message {
    width: calc(100% - 312px);
    height: 70vh;
    position: absolute;
    right: 0px;
    padding: 0px;
}

.login-sub-message {
    height: calc(77vh - 64px);
    position: relative;
    overflow-y: scroll;
    
    background-color: white;
}

.sub-message {
    position: relative;
}

.sub-text {
    height: 64px;
    border-top: 1px solid #ddd;
}

.input-bar {
    width: calc(100% - 100px);
    height: 40px;

    margin: 8px 8px 8px 0;
    font-size: 100%;

    border: none;
    outline: none;
}

.input-send {
    width: 64px;
    height: 40px;
    font-size: 100%;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: white;
    color: black;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.input-send:hover {
    color: dodgerblue;
}

.find-friend {
    width: 100%;
    height: 32px;

    border-bottom: 1px solid #ddd;
}

.find-friend-bar {
    width: calc(100% - 48px);
    border: none;
    outline: none;
    font-size: 100%;
}

.find-friend-button {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    margin: 4px 0;
    background: transparent;
    font-size: 120%;
    font-weight: bold;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.find-friend-button:hover {
    color: white;
    background-color: dodgerblue;
    border-radius: 50%;
}