.login-header {
    width: 100%;
    height: 15vh;

    position: relative;
    top: 0;
    left: 0;

    background-color: #1E1E1E;
    z-index: -2;
}

.login-welcome {
    color: #383838;
    font-size: 350%;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

    padding-top: 82px;
    z-index: 1;
}

.login-body {
    width: 100%;
    height: 72px;
    max-height: 10vh;

    position: relative;
    margin: auto;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.login-button {
    width: 200px;
    height: 44px;
    margin: 14px auto;
    font-size: 120%;
   
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-status {
    border-radius: 10px;
    border-width: 0;
    border-color: #008000;
    background-color: #449D44;
    color: white;
    outline: none;
}

.login-status:hover {
    background-color: rgb(16, 97, 16);
}

.logout-status {
    border-radius: 10px;
    border-width: 0;
    border-color: rgb(216, 18, 11);
    background-color: #C9302C;
    color: white;
    outline: none;
}

.logout-status:hover {
    background-color: rgb(235, 16, 8);
}

.login-avatar {
    width: 180px;
    height: auto;

    position: absolute;
    top: 10%;
    right: 10%;
    z-index: -1;

    border-radius: 50%;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}