.login-main-content {
    width: 100%;
    height: calc(85vh - 73px);
    background-color: white;
}

.login-user-list {
    width: 310px;
    height: calc(85vh - 74px);

    border-right: 1px solid #ddd;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
}

.login-user-message {
    width: calc(100% - 312px);
    height: 70vh;
    position: absolute;
    right: 0px;
    padding: 0px;
}

.find-friend {
    width: 100%;
    height: 32px;

    border-bottom: 1px solid #ddd;
}

.find-friend-bar {
    width: calc(100% - 48px);
    border: none;
    outline: none;
    font-size: 100%;
}

.find-friend-button {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    margin: 4px 0;
    background: transparent;
    font-size: 120%;
    font-weight: bold;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.find-friend-button:hover {
    color: white;
    background-color: dodgerblue;
    border-radius: 50%;
}