.login-main-content {
    width: 100%;
    height: calc(85vh - 73px);
    background-color: white;
}

.login-user-list {
    width: 310px;
    height: calc(85vh - 74px);

    border-right: 1px solid #ddd;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
}

.login-user-message {
    width: calc(100% - 312px);
    height: 70vh;
    position: absolute;
    right: 0px;
    padding: 0px;
}

.login-sub-message {
    height: calc(77vh - 64px);
    position: relative;
    overflow-y: scroll;
    
    background-color: white;
}

.sub-message {
    position: relative;
}

.sub-text {
    height: 64px;
    border-top: 1px solid #ddd;
}

.input-bar {
    width: calc(100% - 100px);
    height: 40px;

    margin: 8px 8px 8px 0;
    font-size: 100%;

    border: none;
    outline: none;
}

.input-send {
    width: 64px;
    height: 40px;
    font-size: 100%;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color: white;
    color: black;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.input-send:hover {
    color: dodgerblue;
}

.find-friend {
    width: 100%;
    height: 32px;

    border-bottom: 1px solid #ddd;
}

.find-friend-bar {
    width: calc(100% - 48px);
    border: none;
    outline: none;
    font-size: 100%;
}

.find-friend-button {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    margin: 4px 0;
    background: transparent;
    font-size: 120%;
    font-weight: bold;

    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.find-friend-button:hover {
    color: white;
    background-color: dodgerblue;
    border-radius: 50%;
}