.message {
    max-width: 80%;
    border-radius: 10px;
    font-size: 100%;
    word-wrap: break-word;
    padding: 8px;
    
}

.myMessage {
    float: right;
    background-color: #bbbbbb;
    margin: 8px 16px 8px auto;
    text-align: right;
    color: #1E1E1E;
}

.userMessage {
    float: left;
    background-color: #1E1E1E;
    margin: 8px auto 8px 16px;
    text-align: left;
    color: white;
}

.clear {
    clear: both;
}